<a href="https://colab.research.google.com/github/Rashvi/GFG_ML/blob/main/Classification_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Logistic Regression

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axes as ax

In [22]:
df = pd.read_csv('seed_data.csv')

In [23]:
df.head(10)

    area  perimeter  compactness  ...  asymmetry  length_kernel_groove  kernel
0  15.26      14.84       0.8710  ...      2.221                 5.220       0
1  14.88      14.57       0.8811  ...      1.018                 4.956       0
2  14.29      14.09       0.9050  ...      2.699                 4.825       0
3  13.84      13.94       0.8955  ...      2.259                 4.805       0
4  16.14      14.99       0.9034  ...      1.355                 5.175       0
5  14.38      14.21       0.8951  ...      2.462                 4.956       0
6  14.69      14.49       0.8799  ...      3.586                 5.219       0
7  14.11      14.10       0.8911  ...      2.700                 5.000       0
8  16.63      15.46       0.8747  ...      2.040                 5.877       0
9  16.44      15.25       0.8880  ...      1.969                 5.533       0

[10 rows x 8 columns]

In [24]:
df.shape

(210, 8)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area                  210 non-null    float64
 1   perimeter             210 non-null    float64
 2   compactness           210 non-null    float64
 3   length                210 non-null    float64
 4   width                 210 non-null    float64
 5   asymmetry             210 non-null    float64
 6   length_kernel_groove  210 non-null    float64
 7   kernel                210 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 13.2 KB

In [28]:
#we need to find out to which class our data is belong to
df['kernel'].unique()

array([0, 1, 2])

In [29]:
df['kernel'].value_counts()

2    70
1    70
0    70
Name: kernel, dtype: int64

In [30]:
#spliting data
x = df.drop(df.columns[[7]] , axis=1)
y = df['kernel']

In [31]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x , y, test_size = 0.20 , random_state = 0)

In [35]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain)
xtest = sc_x.transform(xtest)