<a href="https://colab.research.google.com/github/Rashvi/GFG_ML/blob/Liner-Regression/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axes as ax

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [5]:
# there is only one value therefore we remove it 
data = data.dropna(axis=0)

In [7]:
data.shape

(699, 2)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

In [12]:
# spliting the data
train_input = np.array(data.x[0:500]).reshape(500 , 1)
train_output = np.array(data.y[0:500]).reshape(500 , 1)

In [13]:
test_input = np.array(data.x[500:700]).reshape(199 , 1);
test_output = np.array(data.x[500:700]).reshape(199 , 1);

In [14]:
train_input.shape

(500, 1)

In [15]:
train_output.shape

(500, 1)

In [16]:
test_input.shape

(199, 1)

In [17]:
test_output.shape

(199, 1)